body {
    font-family: Verdana;
    font-size: 13px;
    color: #333;
    background: #f3f3f3;
    text-align: center;
}

/* .info {
    width: 175px;
    height: 80px;
    background-color: #FFE4E1;
    margin: 15px;
    text-align: left;
    padding-left: 10px;
    padding-top: 25px;
    font-size: 15px;
} */

.my-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: solid black 1px;
    border-radius: 8px;
    background-color: #FFF5EE;
    width: 80%;
    margin-top: 65px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-user-select: none;
}

.my-flex-block:nth-child(2) {
    margin-top: 65px;
    width: 25%;
}

#rules {
    margin-top: 15px;
    text-indent: 10px;
    text-align: justify;
}

.bones {
    margin-top: 20px;
    height: 85px;
    display: flex;
    justify-content: center
}

.my-flex-container .my-flex-block .bones img { 
    width: 65px;
    height: 65px;
    position: absolute;
    opacity: 0;
    transition: transform 1s;
}

.my-flex-container .my-flex-block .bones img.showed {
    opacity: 1;
    transform: rotate(11160deg) scale(1.2);
}

/* .btn, 
.info {
    text-decoration: none;
    outline: none;
    background: #FFE4E1;
    position: relative;
    overflow: hidden;
    border: 2px solid #fe6637;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif; 
    color: #fe6637;
    transition: .2s ease-in-out;
}

.btn:before, 
.info:before {
    content: "";
    background: linear-gradient(90deg, rgba(214, 241, 92, 0.1), rgba(255,255,255,.5));
    height: 155px;
    width: 70px;
    position: absolute;
    top: -30px;
    left: -115px;
    transform: skewX(-45deg);
}

.btn:hover, 
.info:hover {
    background: #fe6637;
    color: #fff;
}

.btn:hover:before, 
.info:hover:before {
    left: 250px;
    transition: .6s ease-in-out;
}

.btn {
    padding: 10px 10px;
    margin: 10px 10px;
    cursor: pointer;
}

.btn:disabled,
.btn[disabled] {
    background-color: #cccccc;
    color: #666666;
    cursor: default;
}

.btn:active {
    background-color: aqua;
} */


.players-info {
    /* background-color: aqua; */
    margin: 5px;
    border: 2px solid #fe6637;
    border-radius: 8px;
    width: 150px;
}

.info {
    margin: 5px;
    text-align: left;
}

.players-dice-number {
    margin: 5px;
    text-align: left;
}

.my-flex-block:nth-child(1) {
    width: 25%;
}

.my-flex-block:nth-child(3) {
    width: 25%;
}

.my-flex-block:nth-child(4) {
    width: 25%;
}

.btns {
    margin: 10px;
}







.btns, .btns-dice-roll, .btns-save {
    text-decoration: none;
    outline: none;
    background: #FFE4E1;
    position: relative;
    overflow: hidden;
    border: 2px solid #fe6637;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif; 
    color: #fe6637;
    transition: .2s ease-in-out;
}

.btns:before, .btns-dice-roll:before, .btns-save:before {
    content: "";
    background: linear-gradient(90deg, rgba(214, 241, 92, 0.1), rgba(255,255,255,.5));
    height: 155px;
    width: 70px;
    position: absolute;
    top: -30px;
    left: -115px;
    transform: skewX(-45deg);
}

.btns:hover, .btns-dice-roll:hover, .btns-save:hover {
    background: #fe6637;
    color: #fff;
}

.btns:hover:before, .btns-dice-roll:hover:before, .btns-save:hover:before {
    left: 250px;
    transition: .6s ease-in-out;
}

.btns {
    padding: 10px 10px;
    margin: 10px 10px;
    cursor: pointer;
}

.btns:disabled, .btns[disabled],
.btns-dice-roll:disabled, .btns-dice-roll[disabled],
.btns-save:disabled, .btns-save[disabled] {
    background-color: #cccccc;
    color: #666666;
    cursor: default;
}

.btns:active {
    background-color: aqua;
}