body {
    font-family: Verdana;
    font-size: 13px;
    color: #333;
    background: #f3f3f3;
    text-align: center;
}

/* стиль для невалидных полей */
input:invalid{
    border-color: #900;
    background-color: #FDD;
    box-shadow: 0 0 5px 1px red;

}

.pig-game-window {
    border: solid black 1px;
    border-radius: 8px;
    background-color: #FFF5EE;
    width: 80%;
}

.pig-game-flex-container{
    display: flex;
    margin-top: 60px;
    -webkit-user-select: none;
}

.pig-game-flex-block:first-child {
    width: 45%;
    display: flex;
    justify-content: stretch;
}

.pig-game-flex-block:nth-child(2) {
    width: 55%;
}

.pig-game-users-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    margin-top: 5px;
}

/* first flex block (menu)*/
.pig-game-menu-div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid black 1px;
    border-radius: 8px;
    background: cornsilk;
}
.pig-game-headline-span {
    font-size: 30px;
    font-weight: bold;
}

.pig-game-rules-div {
    text-indent: 20px;
    text-align: justify;
    margin: 10px;
}

.begin-of-rules {
    font-size: 15px;
    font-weight: bold;
}

.bones {
    margin: 10px 0;
    height: 55px;
    display: flex;
    justify-content: center
}

.pig-game-flex-container .pig-game-flex-block .bones img { 
    width: 65px;
    height: 65px;
    position: absolute;
    opacity: 0;
    transition: transform 1s;
}

.pig-game-flex-container .pig-game-flex-block .bones img.showed {
    opacity: 1;
    transform: rotate(11160deg);
}

/* second flex block with users */
.user {
    margin: 5px;
    border: 2px solid #fe6637;
    border-radius: 8px;
    width: 175px;
    background: PeachPuff;
}

.user-div-dice-number, .user-div-move-points, .user-div-all-points {
    text-align: left;
    margin: 5px;
}

.user-name-wrapper {
    margin: 5px;
}

.user .user-name-span {
    font-weight: bold;
    font-size: 15px;
}

.user .btn {
    margin: 5px;
    padding: 5px 0;
    width: 50%;
}

.user-btns {
    display: flex;
}

/* btns decor */
.btn {
    text-decoration: none;
    outline: none;
    background: #FFE4E1;
    position: relative;
    overflow: hidden;
    border: 2px solid #fe6637;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif; 
    color: #fe6637;
    transition: .2s ease-in-out;
    padding: 10px 10px;
    margin: 20px 10px;
    cursor: pointer;
}

.btn:before {
    content: "";
    background: linear-gradient(90deg, rgba(214, 241, 92, 0.1), rgba(255,255,255,.5));
    height: 155px;
    width: 70px;
    position: absolute;
    top: -30px;
    left: -115px;
    transform: skewX(-45deg);
}

.btn:hover {
    background: #fe6637;
    color: #fff;
}

.btn:hover:before {
    left: 250px;
    transition: .6s ease-in-out;
}

.btn:disabled, .btn[disabled] {
    background-color: #cccccc;
    color: #666666;
    cursor: default;
}

.btn:active {
    background-color: aquamarine;
}

/* end game modal window */
.end-game-modal .tingle-modal-box__content {
    padding: 15px;
}

.game-results-flex-container {
    display: flex;
    align-items: center;
}

.game-winner-flex-block {
    width: 70%;
}

.game-winner-span {
    font-size: 50px;
    color: crimson;
    font-weight:bold;
}

.game-statistic-flex-block {
    width: 30%;
    border: solid black 1px;
    border-radius: 8px;
}

.game-statistic-div {
    font-size: 15px;
}

.statistic-headline-span, .user-name-span {
    font-weight: bold;
}

.user-statistic {
    margin: 1px;
}

.end-game-modal .btn {
    margin: 10px;
}

/* start game modal window */
#btn-add-user, #btn-remove-user {
    font-size: 25px;
    font-weight:bold;
    text-align: center;
}

#btn-start-game {
    font-size: 20px;
    margin: 0;
}

.start-choose-div {
    margin: 15px;
}

#number-of-users-span {
    font-size: 20px;
}

.headline-span {
    font-weight: bold;
    font-size: 35px;
}

.flex-container {
    display: flex;
}

.start-choose-Flex-block {
    width: 50%;
}

.start-change-user-name-flex-block {
    width: 50%;
    margin: 20px 0;
    border: solid black 1px;
    border-radius: 8px;
}

/* start game modal window. save users name */
.change-users-name-div {
    max-height: 23vh;
    /* height: 22vh; */
    overflow: auto;
}

.change-users-name-headline-span {
    font-weight: bold;
    font-size: 17px; 
}

.user-number-span {
    font-weight: bold;
}

.user-name-div {
    margin: 5px;
}

.user-number-span {
    font-size: 15px; 
}

.change-users-name-div {
}

/* .tingle modal box */
.tingle-modal-box {
    background-color: #FFF5EE;
    border: solid black 1px;
    border-radius: 8px;
}